/* Estilo para cambiar el color del texto a azul. */

.custom-title-color {
    color: blue;
}

/* Estilos generales del cuerpo de la página. */

body {
    background: #f9ffd6; /* Color de fondo. */
    font-family: 'Anta', sans-serif; /* Fuente utilizada. */
    overflow: hidden; /* Oculta el desbordamiento de contenido fuera del cuerpo. */
}

/* Estilos para la sección de la página de inicio. */

.index {
    width: 100vw; /* Ancho igual al 100% del viewport. */
    height: 100vh; /* Alto igual al 100% del viewport. */
}

/* Estilos para el encabezado principal de la página. */

.masthead {
    color: rgb(75, 26, 0); /* Color del texto. */
    min-height: 30rem; /* Altura mínima. */
    width: 100%; /* Ancho completo. */
    height: 100%; /* Alto completo. */
    background: url('/img/fondo.jpg'); /* Imagen de fondo. */
    background-position: center center; /* Posición de la imagen en el centro. */
    background-repeat: no-repeat; /* No se repite la imagen. */
    background-size: cover; /* La imagen cubre completamente el contenedor. */
}

/* Estilos para el título dentro del encabezado principal. */

.masthead h1 {
    font-size: 4rem; /* Tamaño de la fuente. */
    margin: 0; /* Elimina los márgenes. */
    padding: 0; /* Elimina el relleno. */
}

/* Estilos adicionales para el título dentro del encabezado principal en pantallas grandes. */

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rem; /* Tamaño de la fuente en pantallas grandes. */
    }
}
